table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 50px;
  margin-bottom: 30px;
  
}
th {
  border: 1px solid black;}
  
td {
  border: 1px solid black;
  text-align: left;
  padding: 3px;
}  
a{
  text-decoration: none;
}