table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 30px;
}
th{
  background-color: lightblue;
  
  
}
td{
  padding: 3px;
}
.container{
  width: 100%;
display: flex;
justify-content: center;
margin-top: 50px;
}
a{
  text-decoration: none;
}